
:root{
  --main-arimo:"Arimo", sans-serif;
  --main-popins:"Poppins", sans-serif;

}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-family: var(--main-arimo) ;

}